body {
    margin-top: 200px;
    background-color: var(--white);
}

.navbar {
    background: var(--dark-olive);
    z-index: 1;
}

.form-control {
    background-color: var(--light-olive);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 2rem;
    color: var(--dark-blue);
    text-decoration: none;
}

.form-control:hover {
    background-color: var(--dark-olive);
    color: var(--white);
}

.form-control {
    font-size: 1.2rem;
    border-bottom: 0;
    border-top: 5px;
}

a {
    text-decoration: none;
    color: var(--dark-blue);
}

a:hover {
    background-color: var(--light-olive);
    color: var(--white);
}

@media (min-width: 576px) {
    .carousel-item img {
        height: 500px;
    }
}

@media (min-width: 992px) {
    .carousel-item img {
        height: 400px;
    }
}

