body {
    margin-top: 200px;
    background-color: var(--white);
}

.navbar {
    background: var(--dark-olive) ;
}
/* Colores de los textos*/
.text-dark-blue {
    color: var(--dark-blue);
}

.text-light-beige {
    color: var(--light-beige)
}

.text-dark-olive {
    color: var(--dark-olive)
}

.form-control {
    background-color: var(--light-olive);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 2rem;
    color: var(--dark-blue);
    text-decoration: none;
}

.form-control:hover {
    background-color: var(--dark-olive);
    color: var(--white);
}

.carousel-inner, .carousel-indicators, .carousel button {
    z-index: -1;
}



@media (min-width: 576px) {
    .carousel-item img {
        height: 400px;
    }
}



