body {
    margin-top: 175px;
}

.navbar {
    background: var(--dark-olive);
    z-index: 1;
}

.img7, .img8 {
    height: 50%;
    width: 100%;
    transition: width 2s, height 2s;
}

.picoteo {
    background-color: var(--white);
}

.carusel {
    background-color: var(--light-beige);
}

.mains {
    background-color: var(--light-olive);
}

.hidden-text {
    display: none;
}

.text-size-h2 {
    font-size: 0.9rem;
}

.carousel-caption {
    background-color: rgba(207, 207, 207, 0.5);
    border-radius: 20px;
    border-style: dotted;
    border-color: rgba(138, 138, 138, 0.5);;
}

.card-body, .card {
    background-color: var(--light-olive);
}

.card {
    border: none;
}



@media (min-width: 576px) {
    body {
        margin-top:105px;  
    }

    .cont-2-2 {
        height: 300px;
    }

    .img-container {
        width: 80vw;
        background-color: var(--light-beige);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img1, .img2 {
        height: 300px;
        width: 400px;
        transition: width 2s, height 2s;
    }

    .hidden-text {
        display: flex;
    }

    .text-size {
        font-size: 1.1rem;
    }
}

@media (min-width: 992px) {
    body {
        margin-top: 100px;  
    }

    .img-container {
        position: relative;
    }

    .img7 {
        height: 300px;
        width: 400px;
        position: absolute;
        top: 220px;
        left: 650px;
    }

    .img8 {
        height: 450px;
        width: 550px;
        position: absolute;
        top: 30px;
        left: 175px;
    }
    
    .cont-2-2 {
        height: 550px;
    }

    .text-size-h2 {
        font-size: 2rem;
    }

    .text-size-price {
        font-size: 1.2rem;
    }
}