/* Paleta de colores a utilizar */

:root {
    --dark-blue: #344A57;
    --dark-olive: #6B705C;
    --olive: #A5A58D;
    --light-olive: #B7B7A4;
    --dark-beige: #CB997E;
    --beige: #DDBEA9;
    --light-beige: #FFE8D6;
    --white: #ffffff;
}

/* Configuración para que todos los elementos incluyan el borde y el padding en sus dimensiones*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--light-olive);
}

/* Colores de los textos*/
.text-dark-blue {
    color: var(--dark-blue);
}

.text-light-beige {
    color: var(--light-beige)
}

.text-dark-olive {
    color: var(--dark-olive)
}

.brand-name {
    font-family: 'Flama Bold', sans-serif;
    font-size: 2rem;
}

.cont-2-1 {
    height: 200px;
}

.cont-2-2 {
    height: 300px;
}

.cont-2-3 {
    height: 75px;
}

.cont-2-4 {
    height: 100px
}

.img1, .img2 {
    height: 50%;
    width: 100%;
    transition: width 2s, height 2s;
}

.starters {
    background-color: var(--white);
}

.carusel {
    background-color: var(--light-beige);
}

.hidden-text {
    display: none;
}

.text-size {
    font-size: 0.9rem;
}

.nuevo {
    background-color: var(--light-beige);
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

@media (min-width: 576px) {
    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img1, .img2 {
        height: 300px;
        width: 400px;
        transition: width 2s, height 2s;
    }

    .hidden-text {
        display: flex;
    }

    .text-size {
        font-size: 1.1rem;
    }
}

@media (min-width: 992px) {
    .img-container {
        position: relative;
    }

    .img1 {
        height: 300px;
        width: 400px;
        position: absolute;
        top: 250px;
        left: 800px;
    }

    .img2 {
        height: 450px;
        width: 550px;
        position: absolute;
        top: 0;
        left: 300px;
    }

    .cont-2-2 {
        height: 550px;
    }

    .text-size-h2 {
        font-size: 2rem;
    }

    .text-size-price {
        font-size: 1.2rem;
    }
}