/* Paleta de colores a utilizar */

:root {
    --dark-blue: #344A57;
    --dark-olive: #6B705C;
    --olive: #A5A58D;
    --light-olive: #B7B7A4;
    --dark-beige: #CB997E;
    --beige: #DDBEA9;
    --light-beige: #FFE8D6;
    --white: #ffffff;
}

/* Configuración para que todos los elementos incluyan el borde y el padding en sus dimensiones*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--light-olive);
}

/* Colores de los textos*/
.text-dark-blue {
    color: var(--dark-blue);
}

.brand-name {
    font-family: 'Flama Bold', sans-serif;
    font-size: 2rem;
}

body video {
    min-width: 100%;
    min-height: 100%;
}

/* Configuración 800 px de altura para todos los contenedores.*/
.section {
    height: 800px;
    border: 1px solid black;
}

.navbar {
    position: fixed;
    top: 0;
}

/* Link que debería abrir y cerrar el nav-2 en tamaño móvl inicia escondido */
.fa-bars {
    display: none;
    font-size: 1.5rem;
}

  .fa-bars:hover {
    font-size: 1.7rem;
    cursor: pointer;
}

/* Dropdown container - needed to position the dropdown content */
/* .dropdown {
    float: left;
    overflow: hidden;
} */




/* Configurado para que se mueva cuando pasas en ratón por encima */

.arrow-icon {
    transition-property: transform;
}

.arrow-icon:hover {
    transform: translateX(8px);
    transition-duration: 1s;
}

.cont-2-1 {
    height: 200px;
}

.cont-2-2 {
    height: 600px;
}

.img1, .img2, .img3 {
    height: 80%;
    width: 30%;
    background-repeat: no-repeat;
    background-position: center;
}

.img1 {
    background-image: url(../img/samas-cuadrado.jpeg);
    transition: width 2s, height 2s;
}

.img2 {
    background-image: url(../img/bencalvert-pialligo-web-2.jpeg);
    background-size: cover;
    transition: width 2s, height 2s;
}

.img3 {
    background-image: url(../img/terraza-cuadrado.jpeg);
    transition: width 2s, height 2s;
}

.img1:hover, .img2:hover, .img3:hover {
    height: 600px;
    width: 600px;
}

.behind-img {
    width: 80vw; 
    background-color: var(--beige);
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 992px) {
    .behind-img {
        width: 90vw;
    }
}

@media (max-width:576px) {
    .img-container {
        display: block;
    }

    .behind-img {
        width: 100vw;
    }

    .img1, .img2, .img3 {
        height: 32%;
        width: 100%;
    }
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
/* @media screen and (max-width: 576px) {
    .nav-2 li {
        display: none;
    }

    .nav-2 .fa-bars {
        display: block;
    }

    .responsive  {
        display: block;
        text-align: left;
    }
} */
   

/* @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    } */

    /* Add a black background color to the top navigation */
.topnav {
    /* background-color: #333; */
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Add an active class to highlight the current page */
  .active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(226, 2, 2, 0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover, .dropbtn:hover, .globe-link:hover {
    background-color: #555;
    color: white;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* When the screen is less than 600 pixels wide, hide all links. Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 576px) {
    .topnav a, .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 576px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      top: 0;
    }
    .topnav.responsive a {
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    
}