* {
    box-sizing: border-box;
}




body {
    background-image: url(../img/annie-spratt-DJUZjUYsLwQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}


body video {
    min-width: 100%;
    min-height: 100%;
    
    


}


.containerfluid {

    border: 1px black solid;
}

.navbar {
    position: fixed;
    top: 0;
}